.container {
    background-color: rgb(145, 231, 231);
    padding: 25px;
    display: flex;
    height: 200vh;
    margin-top: 70px;
    justify-content: center;
}

.box{
    background-color: rgb(90, 90, 90);
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px 25px 50px 25px;
    color: white;
}

.back{
    font-size: larger;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    right: 0; 
    padding: 7px;
}

h1 {
    font-style: oblique;
    font-weight: bold;
}